<a href="https://colab.research.google.com/github/zzprogram/APM1111/blob/main/FA3_CURIMATMAT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import numpy as np
from scipy import stats

#Data

scores = [
    88, 45, 53, 86, 33, 86, 85, 30, 89, 53, 41, 96, 56, 38, 62,
    71, 51, 86, 68, 29, 28, 47, 33, 37, 25, 36, 33, 94, 73, 46,
    42, 34, 79, 72, 88, 99, 82, 62, 57, 42, 28, 55, 67, 62, 60,
    96, 61, 57, 75, 93, 34, 75, 53, 32, 28, 73, 51, 69, 91, 35
]

# Calculate
df = pd.Series(scores)

results = {
    "Valid": df.count(),
    "Mode": df.mode()[0], # Returns the first mode found
    "Median": df.median(),
    "Mean": df.mean(),
    "Std. Deviation": df.std(),
    "Variance": df.var(),
    "Skewness": df.skew(),
    "Kurtosis": df.kurtosis(),
    "Minimum": df.min(),
    "Maximum": df.max(),
    "25th percentile (Q1)": df.quantile(0.25),
    "50th percentile (Q2)": df.quantile(0.50),
    "75th percentile (Q3)": df.quantile(0.75),
    "90th percentile (D9)": df.quantile(0.90),
    "95th percentile (P95)": df.quantile(0.95)
}

#Format of the Table
print("Descriptive Table: \n")
style_table = pd.DataFrame.from_dict(results, orient='index', columns=['Score'])
table_styles = [
    {'selector': 'th:first-child', 'props': [('text-align', 'left')]},
    {'selector': 'td', 'props': [('text-align', 'center')]}
]

display(style_table.round(3).style.format({"Score": "  {:.3f}"}).set_table_styles(table_styles))

Descriptive Table: